#home-page {
  position: relative;

  .bottom-menu {
    position: absolute;
    background: white;
    padding: 10px;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;

    button {
      margin: 0 10px;
    }

    @media (max-width: 800px) {
        bottom: 20%;
    }
  }

  .top-menu {
    @extend .bottom-menu;
    top: 2%;
    height: 20px;
  }
}
